*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
button,
input,
optgroup,
select,
textarea{
  @extend %aliased;
}

body{
  font:1em/#{$lh} 'Source Sans Pro', sans-serif;
  background:#fff;
  position:relative;
  padding:#{$lh*1.5}em 3% 0 3%;

  @include respond-min(60em) {
    padding-top:#{$lh*3}em;
  }

  &:after {
    @extend .visuallyhidden;
    content: 'break1';
    @include respond-min(#{$lh*2.5*18}em) {
      content: 'break2'
    }
  }

}

.break{
  margin:#{$lh}em 0;
  @include respond-min(60em) {
    margin:#{$lh*2}em 0;
  }
}

.wrapper{
  padding:0 3%;
}

.nav{
  @include clearfix;
  list-style:none;
  padding:0;
  margin:0 0 #{$lh*3}em 0;
}

.nav__item{
  float:left;
  width:33.333%;
}

.nav__link{
  display:block;
  padding:#{$lh/1.5}em;
  background:#ecf0f1;
  text-align:center;
  font-size:1.25em;
}


